<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo | Plataforma de Apostas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo à Plataforma de Apostas</h1>
        <p>Acesse ou crie sua conta por aqui!</p>
        <a href="{{ url_for('login') }}"><button>Entrar ou Criar Conta</button></a>
    </div>
</body>
</html>
