<!-- /templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Plataforma de Apostas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>

        <!-- Exibe a mensagem de erro, caso exista -->
        {% if message %}
            <div class="message">{{ message }}</div>
        {% endif %}

        <form action="/" method="POST">
            <label for="username">Nome de Usuário:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="/signup">Cadastre-se aqui</a></p>
    </div>
</body>
</html>
